.films_header{
    margin-right: 400px;
 }
.cast-image {
    width: 400px;
    height: 400px;
}
.tvactor-image {
    width: 400px;
    height: 400px;
}
.film-image {
    width: 400px;
    height: 400px;
}
.show-image {
    width: 400px;
    height: 400px;
}
.cast_button{
    margin-right: 2000px;
}
.tvactor_button{
    margin-bottom: 400px;
}